<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Talk2Me
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/listener.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/listener-homepage">Talk2Me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/listener-homepage">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">Sobre nosotros</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="listener-logout" action="/logout" method="GET">
                <button class="btn btn-outline-success m-2 my-sm-0 login-btn" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div class="main">
        <div class="jumbotron">
            <h1 class="display-4 hero-h1" id="greeting">Bienvenido
                <%- name %>!</h1>
            <p class="lead">Recuerda que como escuchador tu deber es apoyar a las personas con las que trabajas y darles una experiencia positiva de la plataforma. Queremos que los usuarios se sientan comodos y regresen.</p>
            <hr class="my-4">
            <p class="lead">Da click en "Comienza a Escuchar" para buscar un escuchador que te ayude.</p>
        </div>
        <form class="button-section" action="/new-chat" method="POST">
            <button type="submit" class="special-button instagram"><span class="gradient"></span>Comienza a Escuchar</button>
        </form>
        <div id="name" style="visibility: hidden">
            <%-name %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../scripts/listener.js" type="text/javascript"></script>
</body>

</html>