html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    background-image: url(../assets/indexBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    background-color: rgba(50, 90, 102, 0.7);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.hero-h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}

.lead {
    font-family: 'Montserrat';
    text-align: center;
}

.btn-outline-success {
    color: #FFF9B1;
    border-color: #FFF9B1;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        padding-left: 3em;
        padding-right: 3em;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 4rem;
    }
}